<%- include("./partials/header.ejs") %>

<link rel="stylesheet" href="facultyDetails.css">

<body>
    <div class="fluid-container">
      
        <div class="header">
         <h5>Faculties Contact Information</h5>
         <hr>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table table-bordered table-dark table-hover">
                      <thead>
                        <tr>
                          <th>Emp ID</th>
                          <th>Name</th>
                          <th>Mobile No</th>
                          <th>Email ID</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>markotto@email.com</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>jacobthornton@email.com</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>larrybird@email.com</td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td>John</td>
                          <td>Doe</td>
                          <td>johndoe@email.com</td>
                        </tr>
                        <tr>
                          <th scope="row">5</th>
                          <td>Gary</td>
                          <td>Bird</td>
                          <td>garybird@email.com</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>


<%- include("./partials/footer.ejs") %>