<%- include("./partials/header.ejs") %>

<link rel="stylesheet" href="/css/forget-password.css">
<body>
  <video autoplay muted loop id="myVideo">
    <source src="Assets/bg.mp4" type="video/mp4" />
  </video>


  <div class="container">
    <br><br>
    <h4>Forgot Password</h4>
    <br>
    <p class="subHeading">Forgetting your password is not a problem, as the system allows for a quick validation process to reset it. Therefore, please enter the email address associated with your account to initiate this process.</p>

    <hr>
  <center>
    <div class="contain">

      <form action="" method="post">
        <label for="Email">Registered Email ID :</label>
        <input type="Email" name="Email" id="Email" />
        <input type="submit" value="submit" />
      </form>

    </div>
  </div>
</center>
   
</body>

<%- include("./partials/footer.ejs") %>
