<%- include("./partials/header.ejs") %>

<link rel="stylesheet" href="/css/forget-password.css">
<body>
  <video autoplay muted loop id="myVideo">
    <source src="Assets/bg.mp4" type="video/mp4" />
  </video>


  <div class="container">
    <br><br>
    <h4>Forgot Password</h4>
    <br>
    <p class="subHeading">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

    <hr>
  <center>
    <div class="contain">

      <form action="" method="post">
        <label for="Email">Registered Email ID :</label>
        <input type="Email" name="Email" id="Email" />
        <input type="submit" value="submit" />
      </form>

    </div>
  </div>
</center>
   
</body>

<%- include("./partials/footer.ejs") %>
