<%- include("./partials/header.ejs") %>

<link rel="stylesheet" href="/css/gallery.css" />
<body>
  <br>
  <form action="/gallery" method="post">
    <button class="btn btn-dark back" name="back_btn" value="back" type="submit"><i class="fas fa-long-arrow-alt-left"></i></button>
  </form>
    <div class="container-all">
      <div class="header">
        <h2>Photo Gallery VIT'B</h2><br>
        <p class="subHeading">At VIT Bhopal, we have a great affection for our university, and the stunning sunsets are a well-known sight among everyone on campus. As such, we invite you to share your favorite moments captured on campus, whether it be a beautiful sunset or any other cherished experience.</p>
      
      <div class="img-upload">
        <br>
        <hr>
        <form action="/gallery" method="post" enctype="multipart/form-data">
            <label for="">Image Title: </label>
            <input name="name" class="img-title" type="text" required>
            <label for="">Upload Image: </label>
            <input name="image" class="file-upload" type="file" required> | 
            <button class="upload-btn" type="submit">Upload</button>
        </form>
      </div>
      <hr>
      <br>
      <%for(var i=key.length - 1; i>=0; i--){%>
        <div class="container">
            <!-- <img src="../uploads/1675163554278.png" alt="" /> -->
            <img height="250px" src="<%= key[i].image.data %>" alt="" />
            <span class="title"><%= key[i].name %></span>
        </div>
      <%}%>
      </div>
  </div>
  <br><br>
</body>
<%- include("./partials/footer.ejs") %>
