<%- include("./partials/header.ejs") %>

<body class="container">
  <br /><br />
  <h5>Reset password for : <%= email %></h5>
  <center>
    <form action="" method="post">
      <label for="password">Password :</label>
      <input type="password" name="password" id="password" />
      <br />
      <label for="password2">Confirm Password :</label>
      <input type="password" name="password2" id="password2" />
      <br />
      <input type="submit" value="reset password" />
    </form>
  </center>
</body>

<%- include("./partials/footer.ejs") %>
