<%- include("./partials/header.ejs") %>

<link rel="stylesheet" href="signup.css">









  <body>
  
    <div class="container">
      <div class="outer row">
        
        <div class="left col-lg-6 col-sm-12">
          <center>
            <h5>FFCS Review System - VIT Bhopal</h5>
            <p class="subHeading">
              Create a account by filling the form
            </p>
            <form class="gradient-border" action="/signup" method="POST">
      
              <div class="container">
                <label>Full Name</label>
                <input type="text" placeholder="Enter Name" name="name" required />
      
                <label>Email</label>
                <input type="email" placeholder="Enter Email ID" name="email" required />
      
                <label>Password</label>
                <input type="password" placeholder="Create Password" name="psw" required />
      
                <button type="submit">Sign Up</button>
                <input type="checkbox" checked="checked" /> Remember me
              </div>
            </form>
            <br>
            <p class="subHeading">Already have an account? <a href="/signin"> SignIn</a></p>
          </center>
        </div>
        
        <div class="right col-lg-6 col-sm-12">
              <img width="200px" src="https://vitbhopal.ac.in/file/2020/01/logochhota.png" alt="">
              <br><br><hr>
              <h5>Any Heading here..</h5><br>
              <p class="subHeading">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</p>
              <br>
              <hr>
          </div>
  
        </div>
      
    </body>










  <%- include("./partials/footer.ejs") %>