<%- include("./partials/header.ejs") %>

<link rel="stylesheet" href="/css/signin.css">

<body>
  <video autoplay muted loop id="myVideo">
    <source src="Assets/bg.mp4" type="video/mp4" />
  </video>
  <div class="container">
    <div class="outer row">
      
      
      <div class="right col-lg-6 col-sm-12">
            <img width="200px" src="https://vitbhopal.ac.in/file/2020/01/logochhota.png" alt="">
            <br><br><hr>
            <h6>Any Heading here..</h6><br>
            <p class="subHeading">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</p>
            <br>
            <hr>
          
        </div>

        <div class="left col-lg-6 col-sm-12">
          <center>
          <h5>Review System - VIT Bhopal</h5>
          <p class="subHeading">
            SignIn to drop or get reviews of the Campus!
          </p>
          <form autocomplete="off" class="gradient-border" action="/signin" method="POST">
            <div class="container">
  
              <label>Email</label>
              <input type="text" placeholder="Enter Email ID" name="ename" required />
  
              <label>Password</label>
              <input type="password" id="myInput" placeholder="Enter Password" name="psw" required />
              <input type="checkbox" onclick="revealPass()"> Show Password
  
              <button type="submit">Sign In</button>
              <input type="checkbox" checked="checked" /> Remember me
            </div>
          </form>
          <br>
          <p class="subHeading">Trouble Signing In? <a href="/forget-password">Forgot Password?</a></p>
          <p class="subHeading">Do you have an account? <a href="/signup">Create Account</a></p>
          
        </center>
        </div>
      </div>
    <script src="javaScript/revealPass.js"></script>
  </body>
  <%- include("./partials/footer.ejs") %>