<%- include("./partials/header.ejs") %>
<link rel="stylesheet" href="/css/underbelly.css">
<body>
    
    <div class="header">
        <h2>Underbelly Canteen</h2>
        <br>
        <p class="subHeading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        <br>
        <p style="color: rgb(212, 209, 209); font-size: large;">📍 Underbelly official facebook page: <a href="https://www.facebook.com/underbellyvitbhopal/">Link</a> | Canteen feedback: <i class="fas fa-comments-alt"></i></p>
    </div>
      <br>
      <!-- Photo Grid -->
      <div class="contain">
    
      <div class="row"> 
        <div class="column">
            <img src="/Assets/ub/ub8.jpg" style="width:100%">
            <img src="/Assets/ub/ub2.jpg" style="width:100%">
            <img src="/Assets/ub/ub3.jpg" style="width:100%">
            <img src="/Assets/ub/ub4.jpg" style="width:100%">
        </div>
        <div class="column">
            <img src="/Assets/ub/ub6.jpg" style="width:100%">
            <img src="/Assets/ub/ub1.jpg" style="width:100%">
            <img src="/Assets/ub/ub12.jpg" style="width:100%">
            <img src="/Assets/ub/ub5.jpg" style="width:100%">
            
        </div>  
        <div class="column">
            <img src="/Assets/ub/ub16.jpeg" style="width:100%">
            <img src="/Assets/ub/ub10.jpg" style="width:100%">
            <img src="/Assets/ub/ub11.jpg" style="width:100%">
            <img src="/Assets/ub/ub7.jpg" style="width:100%">
            
        </div>
        <div class="column">
            <img src="/Assets/ub/ub13.jpg" style="width:100%">
            <img src="/Assets/ub/ub14.jpeg" style="width:100%">
            <img src="/Assets/ub/ub15.jpeg" style="width:100%">
            <img src="/Assets/ub/ub17.jpeg" style="width:100%">
            <img src="/Assets/ub/ub9.jpg" style="width:100%">
          
        </div>
      </div>
          
    </div>
</body>
<%- include("./partials/footer.ejs") %>
