body {
  margin: 0;
  padding: 0;
  background: rgb(19, 19, 19);
}

h4 {
  color: aliceblue;
}

hr {
  background: rgba(240, 248, 255, 0.527);
}

label {
  color: white;
}

.subHeading {
  color: rgb(180, 179, 179);
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.contain {
  margin-top: 10%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

input[type='Email'] {
  width: 25%;
}

.container {
  margin-top: 5%;
  position: relative;
}

h5 {
  color: aliceblue;
}

#password {
  margin-left: 25px;
}

@media only screen and (max-width: 600px) {
  #password {
    margin-left: 0;
  }
}
