@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background: rgb(20, 20, 20);
  color: rgb(179, 177, 177);
}

code{
  background: #232323;
  color: #ee7373;
}

.app {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; 
}

.header {
  border-bottom: 1px solid #363636;
  box-sizing: border-box;
  background: rgba(46, 46, 46, 0.466);
  padding: 15px;
  color: aliceblue;
  font-size: 18px;
  font-weight: 500;
}

.page {
  min-height:0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.page-sidebar {
  display: flex;
  flex-direction: column;
  width: 270px;
  background: rgba(29, 28, 28, 0.466);
  border-right: 1px solid #3f3f3f;
  color: #cacaca;
}

.page-sidebar-header {
  padding: 10px;
  border-bottom: 1px solid #1b1b1b;
}

.page-sidebar-body {
  overflow-y: scroll;
  padding: 10px;
}

.chat {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 0;
}

.chat-header {
  padding: 10px;
  border-bottom: 1px solid #1b1b1b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.chat-container-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
  overflow-y: scroll;
  min-height: 0;
}

.chat-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
}

.chat-footer {
  padding: 10px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #1b1b1b;
}

.chat-sidebar {
  border-left: 1px solid #1b1b1b;
  padding: 10px;
  width: 270px;
}

@media only screen and (max-width: 800px) {
  .chat-sidebar {
    width: 0%;
    padding: 0;
    border-left: 0 solid #1b1b1b;
  }
  .head-txt{
    display: none;
  }
}


/* Accordion */
*, *:after, *:before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}


*:focus {
	outline: none;
}

.chat-content > div {
  margin-top: 10px;
	width: 93%;
	margin-left: auto;
	margin-right: auto;
}

details div {
	border-left: 1px solid #272727;
	border-right: 1px solid #272727;
	border-bottom: 1px solid #272727;
	padding: 15px;
}

details div > * + * {
	margin-top: 1.5em;
}

details + details {
	margin-top: .5rem;
}

summary {
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

summary {
	border: 1px solid #272727;
	padding: 20px;
	cursor: pointer;
	position: relative;
	padding-left: calc(1.75rem + .75rem + .75rem);
}

summary:before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: .75rem;
	content: "↓";
	width: 1.75rem;
	height: 1.75rem;
	background-color: #000;
	color: #FFF;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

details[open] summary {
	background-color: rgba(29, 28, 28, 0.466);
}

details[open] summary:before {
	content: "↑";
}

summary:hover {
	background-color: rgba(29, 28, 28, 0.466);
}

a {
	box-shadow: 0 0.5px 0 0;
}



code {
	font-family: monospace;
	font-weight: 600;
}

.profile-icon{
  margin-top: 10px;
  margin-left: -10px;
  margin-bottom: 4px;
}

hr{
  margin-bottom: 30px;
  background: #272727;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

i{
  font-size: 22px;
}

.reply{
  margin: 5px;
  width: 50%;
  border: 1px solid #272727;
}

.sign-out{
  margin-left: 20px;
   margin-top: 200px;
}

.hide-bars{
  display: none;
}


/* CARDS */

.container{
  position: relative;
}

.container .card{
  position: relative;
  width: 220px;
  height: 280px;
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
}

.container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f74848;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card:after{
  content: 'FFCS';
  position: absolute;
  top: 40%;
  left: -10%;
  font-size: 7em;
  font-weight: 800;
  font-style: italic;
  color: rgba(250, 207, 207, 0.05)
}

.container .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.container .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx{
  height: 210px;
}

.container .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3, .container .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover{
  background: #9bdc28;
}

.container .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

.container .card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.container .card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

.container .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.55s;
  
}

h6{
  color: white;
  font-size: large;
  font-weight: 700;
  position: relative;
  bottom: 12px;
}

.cc .cd:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #505050;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.cc .cd:after{
  content: 'Details';
  position: absolute;
  top: 40%;
  left: -10%;
  font-size: 7em;
  font-weight: 800;
  font-style: italic;
  color: rgba(250, 207, 207, 0.05)
}

input{
  border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* box-shadow: inset 0 0 5px grey;  */
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c73333; 
}

a{
  color: #8d8c8c;
}
a:hover {
  color: rgb(236, 236, 236);
}