body {
  margin: 0;
  padding: 0;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


.download-button {
  margin: 5% 1% 2% ;
  width: 150px;
  position: relative;
}

.heading {
  padding: 25px;
  padding-bottom: 0;
  margin-top: 3%;
}

.container {
  width: 100%;
}

h1 {
  color: aliceblue;
}

footer {
  width: 100%;
  align-content: center;
  text-align: center;
  font-size: large;
  margin-top: 5%;
  color: rgba(189, 189, 189, 0.397);
}

.logo{
  position: relative;
  padding: 5%;
}

.subHeading {
  font-size: large;
  margin-top: 25px;
  color: rgb(163, 163, 163);
}

.info{
  color: rgba(163, 163, 163, 0.932);
}

.Logo {
  width: 400px;
}

@media only screen and (max-width: 600px) {
  .Logo {
    width: 200px;
  }
}