@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Open+Sans&family=Poppins:wght@300&family=Roboto:ital,wght@1,300&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
:root {
  --header-height: 3rem;
  --nav-width: 350px;
  --first-color: #d5d2ec;
  --first-color-light: #184c79;
  --white-color: #f7f6fb;
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
  overflow-y: scroll;
}
a {
  text-decoration: none;
}
/* navbar  */
.header {
  width: calc(100% - var(--nav-width));
  padding: 0.5rem 1.5rem;
  position: fixed;
  top: 0;
  left: var(--nav-width);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-color);
  /* overflow: scroll; */
}
.header .topnavbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .topnavbar .left h1 {
  color: #8cb7de;
}
.header .topnavbar .left i {
  display: none;
}
.header .topnavbar .right {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .topnavbar .right i {
  font-size: 2.5rem;
  margin-left: 3rem;
}
/* searchbar  */
.right .wrap {
  display: flex;
  align-items: center;
  width: 100%;
}
.right .wrap .search {
  width: 100%;
  position: relative;
  display: flex;
}
.search .inputsearch {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
.search .inputsearch:focus {
  color: #00b4cc;
}
.search .searchButton {
  width: 40px;
  height: 30px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 10px;
}
.search .searchButton .bx-search:before {
  position: relative;
  right: 44px;
  bottom: 8px;
  font-size: 2rem;
}

/* sidebar  */
.l-navbar {
  position: fixed;
  top: 0;
  width: var(--nav-width);
  height: 100%;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
}
.l-navbar .navl {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
}
.l-navbar .navl::-webkit-scrollbar {
  display: none;
}
.l-navbar .navl .l-navbar .navl .nav_logo,
.l-navbar .navl .nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.4rem 0 0.5rem 1.5rem;
  text-decoration: none;
}
.l-navbar .navl .nav_logo h1 {
  padding: 0.8rem 0 0.5rem 1.5rem;
  margin-bottom: 2.5rem;
}
.l-navbar .navl .nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 0.8rem;
  transition: 0.3s;
}
.l-navbar .navl .nav_link:hover {
  color: white;
  background-color: #976bef;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.l-navbar .navl .nav_link .nav_icon {
  font-size: 1.5rem;
}
.show {
  left: 0;
}
.active {
  color: var(--white-color);
  background-color: #976bef;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 28px;
  background-color: var(--white-color);
}
.height-100 {
  height: 100vh;
}
.wrapresponsive,
.responsivelogoname {
  display: none;
}
@media screen and (max-width: 1000px) {
  :root {
    --nav-width: 250px;
  }
}
@media screen and (max-width: 900px) {
  body {
    transition: 0.5s;
  }
  .l-navbar {
    position: absolute;
    left: -250px;
  }
  .header {
    position: relative;
    left: 0;
    width: 100%;
    padding: 0.5rem;
  }
  .header .topnavbar {
    justify-content: space-between;
  }
  .header .topnavbar .left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header .topnavbar .left i {
    display: block;
    font-size: 1.5rem;
  }
  .header .topnavbar .right .wrap,
  .responsivedashboardname,
  .nav_logo h1 {
    display: none;
  }
  .wrapresponsive,
  .responsivelogoname {
    display: block;
  }
  .header .topnavbar .right {
    width: fit-content;
  }
  .header .topnavbar .right i {
    margin-left: 0;
    font-size: 2rem;
  }
  .responsivesidebar {
    position: fixed;
    top: 65px;
    left: 0px;
    width: 100%;
    transition: 0.5s;
    z-index: 100;
  }
  .l-navbar .navl {
    display: block;
  }
  .navl .wrapresponsive .search {
    display: flex;
    flex-direction: row;
    padding: 0 1.5rem;
    width: 100%;
    margin-bottom: 2.5rem;
  }
  .navl .wrapresponsive .search .searchButton i {
    position: relative;
    left: 45px;
    top: 6.5px;
  }
}

body::-webkit-scrollbar {
  display: none;
}
/* main content  */
.main_content {
  position: relative;
  left: var(--nav-width);
  top: 5rem;
  height: calc(100vh - 5rem);
  width: calc(100% - var(--nav-width));
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.review_section {
  position: relative;
  width: 70%;
  height: calc(100vh - 2rem);
  padding: 2rem 0.5rem;
  display: grid;
  gap: 0.4rem;
  grid-template-columns: auto;
}
.review_section .review {
  width: 100%;
  padding-bottom: 1rem;
  height: fit-content;
}
.review_section .review:after {
  content: "";
  display: block;
  margin: 0 0 0 20px;
  width: 95%;
  padding-top: 20px;
  border-bottom: 2px solid #898989;
}
.review_section .review .poster_info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.review_section .review .poster_info img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 1rem;
}
.review_section .review .poster_info p {
  transform: translateY(30%);
  margin-left: 1rem;
}
.review_section .review .review_box {
  margin-left: 4rem;
  height: fit-content;
  /* width: 90%; */
  padding: 0.5rem 1rem;
  border: 1px grey solid;
  border-radius: 5px;
  background-color: whitesmoke;
}
.review_section .post_review {
  background-color: #fffafadc;
  /* filter: blur(13px); */
  position: fixed;
  top: 87vh;
  width: 53vw;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: end;
}
.review_section .post_review button {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(249, 251, 250);
  border: 1px solid rgb(137, 151, 155);
  box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
  color: rgb(61, 79, 88);
  font-size: 1rem;
  transition: all 150ms ease-in-out 0s;
}
.review_section .post_review button:hover {
  color: rgb(61, 79, 88);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(93, 108, 116);
  box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231 238 236) 0px 0px 0px 3px;
}
.card_section {
  width: 30%;
  padding: 1rem 1.5rem;
  margin-top: 2.5rem;
  height: 100%;
}
.card_section .card {
  position: fixed;
  background-color: whitesmoke;
  width: 100%;
  height: 200px;
  border-radius: 30px;
}
/* .card_section .card1 {

} */
.card_section .card2 {
  top: 350px;
}
.card_section .card3 {
  top: 585px;
}

@media screen and (max-width: 1350px) {
  .review_section .post_review {
    width: 50vw;
  }
}
@media screen and (max-width: 1150px) {
  .review_section .post_review {
    width: 45vw;
  }
}
@media screen and (max-width: 900px) {
  .main_content {
    left: 0;
    top: 4px;
    height: calc(100vh - 4px);
    width: 100%;
  }
  .review_section .post_review {
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  .review_section {
    width: 950%;
    padding-right: 20px;
  }
  .card_section {
    display: none;
  }
  .review_section .post_review {
    width: 90%;
  }
}
